body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.selecteur2 {
    float: right;
    width: 160px;
}

.selecteur2 a:hover {
    background-color: rgb(0, 0, 0);
}

.selecteur2 a {
    display: block;
    color: rgb(236, 232, 232);
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 25px;
}

.logo_haut_page {
    float: left;
}

.selecteur1 {
    list-style-type: none;
    margin: -8px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(146, 24, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 101%;
}

.boutton , button {
    background-color: rgb(146, 24, 24);
    cursor: pointer;
    border-radius: 30px;
    font-size: 25px;
    margin: 10px;
    color: black;
    width: 190px;
    height: 55px;
    text-align: center;
    text-decoration: none;
}

.button-admin{
    background-color: #710909;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 0px;
}

.boutton:hover {
    background-color: rgb(39, 5, 5);
    color: rgb(255, 255, 255);
}

.statistique {
    background-color: #ffffff00;
    padding: 25px;
    font-size: 30px;
    color: #353535;
}

.carre{
    background-color: rgb(179, 179, 179);
    padding: 25px;
    margin: 25px;
    width: 500px;
    height: auto;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 4px #323232;
}

.carre2{
    background-color: rgb(179, 179, 179);
    padding: 100px;
    margin: 25px;
    width: 1250px;
    height: auto;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 4px #323232;
    text-align: left;
}

.image{
    border:3px solid black;
    border-radius: 15px;
}

input{
    border-color: rgb(202, 13, 13);
    width: 175px;
    height: 25px;
    font-size: 20px;
    text-align: center;
}

select{
    border-color: rgb(202, 13, 13);
    width: 175px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    margin-top: 25px;
}

.container-connection{
    width:400px;
    margin:0 auto;
    margin-top:5%;
}

.container-inscription{
    width:400px;
    margin:0 auto;
    margin-top:2%;
}

.form-container{
    width:100%;
    padding: 30px;
    border: 4px solid #000000;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 3px 4px #323232;
}

a{
    font-size: 20px;
}


.recherche1{
    width: 80%;
    height: 240px;
    padding: 20px;
    border: 4px solid #790101;
    background: #b52b2b;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 3px 3px 4px #323232;
}

.recherche2{
    width: 83%;
    height: 240px;
    padding: 20px;
    border: 4px solid #790101;
    background: #b52b2b;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 3px 3px 4px #323232;
}

.recherche3 {
    left: 12%;
    position: absolute;
}

.recherche4 {
    left: 52%;
    position: absolute;
}

.recherche5 {
    text-align: center;
}

.recherche-button {
    margin-top: 980px;
    position: relative;
}

.h1-index{
    font-size: 125px;
    padding-top: 75px;
    margin-top: 50px;
    line-height: 15px;
}

.h2-index{
    font-size: 30px;
}

.div-acuille1 {
    background-image: url(https://i.ibb.co/vXYT0Gq/font-acuielle.png);
    background-color: #0c0c0d;
    height: 450px;
    width: 1400px;
    position: relative;
    margin: auto;
    text-align: center;
}

.div-acuille2 {
    background-color: #0c0c0d;
    margin-top: 200px;
    height: 650px;
    width: 1400px;
    padding-top: 60px;
    color: #ffffff;
    position: relative;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.div-acuille3 {
    border-radius: 5px;
    border: #000000 solid 3px; ;
}

section{
    background-color: #0c0c0d;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    height: 100%;
    width: 1450px;
}

.h3-index{
    font-size: 40px;
    text-decoration: underline overline;
    text-underline-offset: 17px;
    text-align: center;
    float: center;
}

.Pourquoi {
    padding: 15px;
    position: relative;
}

.millieu-acuille {
    background-color: #4f0202;
    height: 550px;
    width: 1450px;
    padding-top: 10px;
    margin: auto;
    position: relative;
}

.acuille-img1 {
    float: right;
    margin-right: 100px;
    position: relative;
    padding-top: 40px;
}

.acuille-img2 {
    float: left;
    margin-left: 100px;
    position: relative;
    padding-top: 40px;
    margin: 100px;
}

.accuille-text2{
    float:left ;
    padding-top: 50px;
}

.boutton1{
    background-color: rgb(146, 24, 24);
    border: 0px;
    border-radius: 30px;
    font-size: 25px;
    margin: 10px;
    color: black;
    width: 100px;
    height: 55px;
    text-align: center;
    text-decoration: none;
}

.boutton1:hover {
    background-color: rgb(39, 5, 5);
    color: rgb(255, 255, 255);
}

.h2-logement-page2{
    font-size: 35px;
}

.h4-logement-page2{
    font-size: 20px;
    color: #323232;
}

table {
    border-radius: 15px;
    border: #000000 solid 4px;
    background-color: #ffffff;
}

th {
    background-color: #710909;
    width: 1386px;
}

.th-admin-radius-haut-gauche {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.th-admin-radius-haut-droit {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.th-image {
    height: 390px;
    width: 575px;
    text-align: center;
    padding-left: 20px;
}

.th-image2 {
    height: 390px;
    text-align: center;
    padding-left: 20px;
}

.td-text {
    
    padding-left: 100px;
    color: #000000;
    font-size: 25px;
}

.td-text2 {
    padding-left: 100px;
    color: #000000;
    font-size: 25px;
}

.td-text3 {
    height: 50px;
}

.a-acuille1 {
    text-decoration: none;
    color: #7e0000;
}

.table-detail{
    text-align: left;
    height: 400px;
    width: 750px;
    
}

.td-index {
    border: #000000 solid 2px;
    border-radius: 15px;
}

.connection-utilisateur-erreur {
    width: 25%;
    height: 100px;
    padding: 20px;
    border: 4px solid #790101;
    background: #b52b2b;
    border-radius: 15px;
    margin: auto;
    box-shadow: 3px 3px 4px #323232;
    top: 50px;
}

.deconnectio-div {
    margin-top: 30px;
    width: auto;
    height: 250px;
    font-size: 45px;
    padding: 50px;
}

.body-utilisateur {
    background-color: #c0c0c0;
}

.image-profil{
    border-color: #000000 solid 2px;
    border-radius: 100%;
    position: relative;
}

.table-utilisateur {
    text-align: left;
    height: 500px;
    width: 1000px;
    padding: 5px;
}    

.connection-utilisateur-td {
    padding: 10px;
    font-size: 30px;
}

.connection-utilisateur-text-td {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 35px;
}

.index-admin-h2 {
    font-size: 30px;
}

.button-index-admin {
    width: auto;
    padding: 20px;
    height: auto;
}

.statistique-rose {
    color: pink;
}

.statistique-bleu {
    color: lightblue;
}

.state-selecte {
        border-color: rgb(202, 13, 13);
        width: 200px;
        height: 25px;
        font-size: 20px;
        text-align: left;
        margin: 10px;
        margin-top: 25px;
}